@charset "UTF-8";

body { background-color: whitesmoke  ;
       color: black;
       font-size: 12pt;
       font-family: arial;}

.imagem-head{ display: block;
   margin-left: auto;
   margin-right: auto; padding: 25px 29px;}

#titulo-principal {color: black; text-align: center;}
.titulo-2 {color:rgb(131, 24, 231)}
.link-curso { font-style: italic; font-weight: bold; color: black;}

table{ 
   background: whitesmoke; 
   border-color: rgb(129, 124, 197); 
   border-style:solid;
   width: 25%;  height: 50px;}
   th, td {
      padding: 05px;
      text-align: left;
      border-bottom: 1px solid #ddd;}
